[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.demobutton {
    margin-bottom: 8px;
}

.demofooter {
    display: none;
    margin-top: 80px;
}

.resultArea {
    background-color: #fff;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px 4px 0 0;
}

/** For my-expander directive */

.my-expander-iconlink {
    color: white;
    cursor: pointer;
}

.my-expander-iconlink:hover{
    color: white;
}

.my-expander-iconlink:active{
    color: white;
}

.my-expander-wrapper {
    margin-top:10px;
    margin-bottom:20px;
}

.my-expander-header {
    padding:10px;
    border-radius: 10px 10px 0 0;
    background-color: #2a6496;
    color:#ffffff;
}

.my-expander-content {
    border: solid 2px #2a6496;
    background-color: #dddddd;
    padding:10px;
}

/* --- bootstrap validation with angular ---- */

input.ng-invalid,
textarea.ng-invalid,
select.ng-invalid{
    color: #b94a48 !important;
    border-color: #ee5f5b !important;
}

input.ng-invalid,
textarea.ng-invalid,
select.ng-invalid {
    border-color: #e9322d !important;
    -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
    -moz-box-shadow: 0 0 6px #f8b9b7 !important;
    box-shadow: 0 0 6px #f8b9b7 !important;
}

input.ng-invalid-required.ng-pristine
{
    border-color: #cccccc !important;
    -webkit-box-shadow: 0 0 0 !important;
    -moz-box-shadow: 0 0 0 #f8b9b7 !important;
    box-shadow: 0 0 0 #f8b9b7 !important;
}

input.ng-invalid-required
{
    background-color: #cae8ff !important;
}
